.inner-bar{
  background: #2481cd;
  padding: 35px 25px 35px 40px;
  font-size: 18px;

  &__right{
    color: #ffffff;
    letter-spacing: 0.32px;
    font-size: 16px;

    span{
      padding-right: 25px;
    }
  }

  .count{
    color: #ffffff;
  }

  .workflow{
    color: #2a2c3b;
    padding-left: 40px;
  }
}

.card-head{
  padding: 10px 50px;

  ul{
    padding: 0;
    margin: 0;
    letter-spacing: 0.32px;
    color: #9ea3b4;
    font-size: 16px;
    list-style-type: none;
  }
}

.title{
  flex-basis: 8%;
}

.value{
  flex-basis: 3%;
}

.deadline{
  flex-basis: 9%;
}

.time-spent{
  flex-basis: 8%;
}

.sub-item{
  color: #9ea3b4;
}

.progress-value{
  flex-basis: 20%;

  span{
    padding-right: 10px;
  }

  .progress{
    width: 80%;
  }
}

.status{
  flex-basis: 10%;
}

.assigned{
  flex-basis: 10%;
}

.card-container{
  padding: 30px 25px 0 60px;

  .card-item{
    padding: 30px 50px;
    background: #3a3e52;
    margin-bottom: 25px;
    cursor: grab;
    border-radius: 5px;
    color: #ffffff;
    border-left: 4px solid #ffffff;

    p{
      margin: 0;
    }

    span{
      display: block;
    }
  }
}

.dropdown{
  background: transparent;
}