.home-wrapper{
  padding: 45px 10px 10px 45px;
  border: 1px solid #ffffff;

  .sales-report{
    width: 100%;
    height: 100vh;
    max-height: 300px;
    padding-top: 50px;
    position: relative;
    background: #2f3242;

    .select{

      select{
        border-radius: 20px;
        width: 110px;
        border: 1px solid #515464;
        background: transparent;
        color: #515464;
        padding: 0 5px;

        &:focus{
          outline: 0;
        }
      }

      p{
        color: #9297a8;
      }
    }

    &__top{
      position: absolute;
      top: 10px;
      left: 0;
      width: 100%;
      padding-left: 20px;
      padding-right: 30px;

      h3{
        font-size: 24px;
        color: #ffffff;
        margin: 0;
      }

      p{
        margin: 0 10px;
        color: #ffffff;
      }
    }
  }

  .inbox{
    height: 100%;
    overflow: hidden;

    &__top{
      color: #ffffff;
      font-size: 25px;
      margin: 0;
      background: #3a3e52;
      padding: 10px 0;

      p{
        margin: 0;
      }
    }

    .box{
      p{
        margin: 0;
      }

      .name{
        color: #ffffff;
        font-size: 16px;
      }

      .time{
        font-size: 14px;
        color: #2291ea;
      }

      .content{
        color: #9ca1b2;
      }
    }
  }

  .DayPicker{
    background: #2f3242;

    &-Caption{
      color: #ffffff;
    }

    &-WeekdaysRow{
      color: #9ea3b4;
    }

    &-Week{
      color: #ffffff;
    }
  }

  .line-wrapper{
    height: 100vh;
    max-height: 300px;
  }

  .recharts-legend-item-text{
    color: #ffffff;
  }
}