.authentication-wrap{
  height: 100vh;
  background: url('../static/background.jpg') 50% 50% no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-wrap{
  background: #2d3040;
  height: 100vh;
}

.main{
  background: #2a2c3b;

  h1{
    color: #ffffff;
  }
}

.nav-link{
  cursor: pointer;
}

.wrapper{
  width: 100%;
  padding: 0 15px;
}

.top-bar{
  height: 95px;
  background: #2E3142;
  padding: 0 25px;

  .logo{
    cursor: pointer;
  }

  .dropdown-menu{
    transform: translate3d(-50px, 38px, 0px)!important;
  }
}

@import "Sidebar/sidebar";
@import "./Auth/Auth";
@import "./Home/Home";