.progress-block{
  padding: 0 10px;
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;

  .bar{
    max-width: 80px;
    width: 100%;
    margin-right: 20px;
  }
}

.circular-wrap{
  max-width: 750px;
  width: 100%;
  padding-left: 30px;
  padding-top: 25px;
}

.progress-item{
  //margin-right: 75px;
  flex-basis: 33%;

  h3{
    margin-bottom: 0;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.44px;
  }

  .progress-info{
    letter-spacing: 0.32px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    color: #9ca1b2;
    margin-bottom: 0;
  }
}

.select-wrap{
  padding-right: 15px;

  span{
    letter-spacing: 0.32px;
    font-size: 16px;
    color: #9ea3b4;
    font-weight: 400;
    padding-right: 10px;
  }

  select{
    border-radius: 18px;
    border: 1px solid rgba(158, 163, 180, 0.3);
    background-color: #2b2d3c;
    color: #9ea3b4;
    padding: 5px 20px;
    width: 157px;

    &:focus{
      outline: 0;
    }

    option{
      border-radius: 10px;
    }
  }
}

.table-wrap{
  &__list{
    padding: 0;
    margin: 0;
  }
}

.table-head{
  box-shadow: 0 3px 60px rgba(3, 3, 5, 0.2);
  padding: 20px 0;
  background: #3a3e52;
  color: #9ca1b2;

  i{
    padding-left: 10px;
  }

  div{
    div{
      &:hover{
        cursor: pointer;
      }
    }
  }
}